/* Устанавливаю задний фон для всё страницы */
html {
    background-image: url('background.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 0;
    padding: 0px;
    height: 100vh; 

    /* font-family: Arial, Helvetica, sans-serif; */
}

.main-container {
    display: grid;
    width: 100%;    
    height: 96vh;
    /* border: 1px solid red; */
}

.button-element {
    margin: auto;
    height: 35px;
    width: 150px;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 13px;
    cursor: pointer;
}



.button-active-color:hover {
    filter: brightness(95%);
}

.button-active-color:active {
    filter: brightness(85%);
}

.button-element { /* //////////////////////////////////////////////////// */
    display: none;
}

.main-window {
    position: absolute;
    height: 90%;
    width: 60%;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;        

    display: grid;
    grid-template-rows: 25px 25% 1fr;
    background-color:  rgb(248, 248, 248);
}

.window-header {
    background-color:  rgb(239, 239, 239);
    cursor: move;
    border-radius: 4px 4px 0px 0px; 

    padding-left: 14px;
    padding-top: 3px;

    .button-window-head {
        border-radius: 100%;
        width: 9px;
        height: 9px;
        display: inline-block;
        margin: 0px 1px;
    }

    .butt-1 {
        background-color: rgb(223, 0, 0);
        cursor:pointer;
    }
    .butt-2 {
        background-color: rgb(241, 177, 0);
    }
    .butt-3 {
        background-color: rgb(55, 194, 0);
    }
}

.title-block {
    background: linear-gradient(to bottom, #e6e6e6, #d8d8d8);
    display: grid;

    .elem-1, .elem-2 {
        background-color: #c4c4c4;
        border-radius: 1vh;
        height: 3vh;
        width: 12vw;
        margin: auto;
        margin-bottom: 1vh;
    }

    .elem-2 {
        width: 4.5vw;
        margin-top: 1vh;
    }
}

@media (max-width: 665px) {
    .main-block {

    }
}

.main-block {
    background-color:  rgb(248, 248, 248);
    /* border-radius: 0px 0px 4px 4px ;  */
    display: grid;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    /*gap: 16px; /* это свойство добавляет отступы между карточками */
    width: 55%;
    margin: auto;

    .card {
        /* border: solid 1px black; */
        width: 180px;
        height: 240px;
        margin: auto;

        .block-image {
            background-color:  rgb(221, 221, 221);
            width: 100%;
            height: 70%;
            border-radius: 5px;
        }

        .block-text {
            background-color:  rgb(190, 190, 190);
            width: 90%;
            height: 25px;
            border-radius: 7px;
            margin-top: 15px;
        }

        .bt1 {
            width: 40%;
        }
        .bt2 {
            width: 90%;
        }
        .bt3 {
            width: 70%;
        }
        .bt4 {
            width: 35%;
        }
        .bt5 {
            width: 70%;
        }
        .bt6 {
            width: 35%;
        }
    }
}